/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	line-height: 1.2;
	font-family: $font-tertiary;
	font-weight: normal;
	font-size: 3.25em;
	color: $white;
	letter-spacing: .03em;
}

h2, .beta    { 
	line-height: 1.2;
	font-family: $font-tertiary;
	font-weight: normal;
	font-size: 2.375em;
	color: $red;
	letter-spacing: .03em;
}

h3, .gamma   { 
	line-height: 1.2;
	@include font-2-style();
}

h4, .delta   {
	@include font-2-style();
	font-size: 1.125em;
}

h5, .epsilon { 
	
}

h6, .zeta    { 
	
}

/* Subheadings */
.subheading {
	font-family: $font;
	font-weight: normal;
	font-style:italic;
}
h5.subheading {
	font-size: 1.75em;
	color: $white;
	line-height: .9;
	margin-top: 0.2em;
	text-transform: lowercase;
}